html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    padding: 1em;
}
  
.title {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
}